{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="addCourseButton">
        <div id="addCoursePrompt" onclick="javascript:toggleAddCourseOptions()">
            <span class="fa fa-plus fa-lg" style="padding:0pt 5pt"></span>
            Pick a course yourself?
        </div>
        <select id="addCourseTerm" onchange="javascript:updateAddCourseOptions()" style="display:none">
                <option value="Spring2016" selected>Spring 2016</option>
                <option value="Summer2016">Summer 2016</option>
                <option value="Fall2016">Fall 2016</option>
                <option value="Spring2017">Spring 2017</option>
                <option value="Summer2017">Summer 2017</option>
                <option value="Fall2017">Fall 2017</option>
                <option value="Spring2018">Spring 2018</option>
                <option value="Summer2018">Summer 2018</option>
                <option value="Fall2018">Fall 2018</option>
                <option value="Spring2019">Spring 2019</option>
                <option value="Summer2019">Summer 2019</option>
                <option value="Fall2019">Fall 2019</option>
                <option value="Spring2020">Spring 2020</option>
                <option value="Summer2020">Summer 2020</option>
                <option value="Fall2020">Fall 2020</option>
                <option value="Spring2021">Spring 2021</option>
                <option value="Summer2021">Summer 2021</option>
                <option value="Fall2021">Fall 2021</option>
        </select>
        <select id="addCourseId" style="display:none"></select>
        <div id="addCourseConfirm" onclick="javascript:addCourse();" style="display:none"><span class="fa fa-check-circle"></span></div>
    </div>
    <div id="plan"><span style="font-size: 60pt; text-align: center; width: 100%;" class="fa fa-cog fa-spin"></span></div>
    <div id="preferences" class="settings-panel">
        <div class="option-group">
            <div class="option-header">Specializations:</div>
            <div id="specializations">
                <input id="II" type="checkbox" name="specialization" value="II" checked />
                <label for="II">Interactive Intelligence</label><br/>
                <input id="CPR" type="checkbox" name="specialization" value="CPR" checked />
                <label for="CPR">Computational Perception & Robotics</label><br/>
                <input id="ML" type="checkbox" name="specialization" value="ML" checked />
                <label for="ML">Machine Learning</label><br/>
                <input id="Sys" type="checkbox" name="specialization" value="Sys" checked />
                <label for="Sys">Systems</label><br/>
            </div>
        </div>
        <div class="option-group">
            <div class="option-header">Graduation:</div>
            <select id="graduation" name="graduation">
                <!-- TODO: setting these explicitly seems a bit silly - maybe just dump out both this and the JS from Django. -->
                <option value="Spring2016" selected>Spring 2016</option>
                <option value="Summer2016">Summer 2016</option>
                <option value="Fall2016">Fall 2016</option>
                <option value="Spring2017">Spring 2017</option>
                <option value="Summer2017">Summer 2017</option>
                <option value="Fall2017">Fall 2017</option>
                <option value="Spring2018">Spring 2018</option>
                <option value="Summer2018">Summer 2018</option>
                <option value="Fall2018">Fall 2018</option>
                <option value="Spring2019">Spring 2019</option>
                <option value="Summer2019">Summer 2019</option>
                <option value="Fall2019" selected>Fall 2019</option>
                <option value="Spring2020">Spring 2020</option>
                <option value="Summer2020">Summer 2020</option>
                <option value="Fall2020">Fall 2020</option>
                <option value="Spring2021">Spring 2021</option>
                <option value="Summer2021">Summer 2021</option>
                <option value="Fall2021">Fall 2021</option>
            </select>
        </div>
        <div class="option-group">
            <div class="option-header">Constraints:</div>
            <label for="hours">Max hours:</label>
            <select id="hours" name="hours">
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
                <option value="30">30</option>
                <option value="35">35</option>
                <option value="40">40</option>
            </select>
            per week.<br/>
            <a class="btn btn-default" onclick="javascript:plan=refreshPlan();">Update Plan</a>
            <a class="btn btn-default" onclick="javascript:savePlan();">Save Settings</a>
        </div>
    </div>

    <script type="text/javascript" src="/meta/courses"></script>
    <script type="text/javascript" src="{%  static "program-data/specialization-metadata.js" %}"></script>
    <script type="text/javascript">
        var upcomingTerms = [
            "Spring2016", "Summer2016", "Fall2016",
            "Spring2017", "Summer2017", "Fall2017",
            "Spring2018", "Summer2018", "Fall2018",
            "Spring2019", "Summer2019", "Fall2019",
            "Spring2020", "Summer2020", "Fall2020",
            "Spring2021", "Summer2021", "Fall2021"
        ];

        function evalConstraintTerms(type, terms, courses) {
            var max = terms.length;
            var count = 0;
            var weighted = 0;
            var constraintValues = [];
            for (key in terms) {
                //constraintValues.push(evalConstraint(terms[key], courses));
                var val = evalConstraint(terms[key], courses);
                count = count + ((val < 0) ? -1 : 0);
                weighted = weighted + val;
            }

            // TODO: tweak weightings
            if (type == "allOf") {
                return (1.100) * (weighted);
            } else if (type == "threeOf") {
                return (1.067) * Math.min(0, max + count - 3) * -weighted;
            } else if (type == "twoOf") {
                return (1.033) * Math.min(0, max + count - 2) * -weighted;
            } else if (type == "oneOf") {
                return (1.000) * Math.min(0, max + count - 1) * -weighted;
            }
        }

        function evalConstraint(constraint, courses) {
            if (typeof constraint == "string") {
                /*
                return (courses.map(function (course) {
                    course["Id"];
                }).indexOf(constraint) > -1) ? 0 : -1;
                */
                return (courses.indexOf(constraint) > -1) ? 0 : -1;
            } else {
                // implicit "allOf"
                var count = 0;
                for (key in constraint) {
                    if (constraint.hasOwnProperty(key)) {
                        var type = key;
                        var children = constraint[key];
                        count += evalConstraintTerms(key, children, courses);
                    }
                }
                return count;
            }
        }
        function evalSpecialization(specializationId, courses) {
            var constraint = {};
            var specialization = null;
            specializationMetadata.forEach(function (s) { if (s["specializationId"] == specializationId) specialization = s; });
            for (key in specialization) {
                if (key == "allOf" || key == "threeOf" ||  key == "twoOf" || key == "oneOf") {
                    constraint[key] = specialization[key];
                }
            }

            var incompletePenalty = 0;
            if (specializationId == "ML") incompletePenalty = -50;
            if (specializationId == "Sys") incompletePenalty = -25;
            var hoursPenalty = -Math.max((10-courses.length)*0.5, 0);
            return evalConstraint(constraint, courses) + incompletePenalty + hoursPenalty;
        }

        function evalFoundational(courses) {
            var foundationalCourses = ['CV', 'AOS', 'HPC', 'CN', 'HPCA', 'SDP', 'SAD', 'CCA', 'KBAI', 'ML', 'IOS', 'DBSys'];
            var count = 0;
            for (var i = 0; i < courses.length; i++) {
                if (courseIsFoundational(courses[i])) count++;
            }
            return count >= 2;
        }

        function courseInfo(id, term) {
            // TODO: should pull from per-term info
            for (key in courseMetadata[term]) {
                var course = courseMetadata[term][key];
                if (course["Id"] == id) return course;
            }
            return null;
        }

        function courseHours(id) {
            var course = courseInfo(id);
            if (course != null)
                // TODO: eventually all of this should come from the aggregated reviews.
                // TODO: for now, they're based on my informal (manual) scan of UOCRSS,
                // TODO: and some arbitrary "guesstimates" for new courses this term.
                switch (id) {
                    case "AOS": // "CS6210":
                        return 30;
                    case "CN": // "CS6250":
                        return 5;
                    case "SDP": // "CS6300":
                        return 10;
                    case "ML": // "CS7641":
                        return 30;
                    case "AIR": // "CS8803-AIR":
                        return 8;
                    case "HPCA": // "CS6290":
                        return 17;
                    case "SAD": // "CS6310":
                        return 9;
                    case "HIT": // "CS6440":
                        return 12;
                    case "CCA": // "CS6505":
                        return 16;
                    case "KBAI": // "CS7637":
                        return 15;
                    case "CV": // "CS4495", "CS6475":
                        return 15;
                    case "IOS": // "CS8803-IOS":
                        return 18;
                    case "EdTech": // "CS6460":
                        return 20;
                    case "ML4T": // "CS7646":
                        return 2;
                    case "RL": // "CS8803-RL":
                        return 5;
                    case "InfoSec": // "CS6035":
                        return 10;
                    case "HPC": // "CSE6220":
                        return 15;
                    case "BD4HIT": // "CS8803-BD":
                    case "NetSec": // "CS6262":
                    case "DBSys": // "CS6400":
                    default:
                        // ~_(ツ)_~
                        return 10;
                }

                //return course["Hours"];
            else
                return 1000;
        }

        function courseIsFoundational(id) {
            var foundationalCourses = ['CV', 'AOS', 'HPC', 'CN', 'HPCA', 'SDP', 'SAD', 'CCA', 'KBAI', 'ML', 'IOS', 'DBSys'];
            for (var i = 0; i < foundationalCourses.length; i++) {
                if (foundationalCourses[i] == id) {
                    return true;
                }
            }
            return false;
        }

        function termIsSummer(term) {
            return term.indexOf("Summer") > -1;
        }

        function termCourseCap(term) {
            if (termIsSummer(term)) {
                return 1;
            } else {
                return 3;
            }
        }

        function termCoursesAvailable(term) {
            var candidates = courseMetadata[term];
            return candidates.map(function (course) {
                return course["Id"];
            });
        }

        function coursesHoursUsed(courses) {
            return courses.map(function (course) { return courseHours(course); })
                    .reduce(function(previousValue, currentValue, index, array) {
                        return previousValue + currentValue;
                    }, 0);
        }

        function coursesInPlan(plan) {
            var courses = [];
            for (termName in plan) {
                if (plan.hasOwnProperty(termName)) {
                    term = plan[termName];
                    for (i in term) {
                        if (term.hasOwnProperty(i)) {
                            courses.push(term[i]);
                        }
                    }
                }
            }
            return courses;
        }

        /**
         * Calculate a new plan.
         *
         * @param allowedSpecializations - from the list defined in specialization-metadata.js
         * @param graduationTarget - term selected from upcomingTerms
         * @param maxHours - Javascript object {} - keys are values from upcomingTerms, values are numbers
         * @param fixedCourses - from the list defined in course-metadata.js
         */
        function updatePlan(allowedSpecializations, graduationTarget, maxHours, fixedCourses) {
            var specializationScores = allowedSpecializations.map(function (s) { return evalSpecialization(s, fixedCourses); });
            // For now, we're picking the specialization they're closest to; later we'll give higher weights to scores
            // that satisfy more than one specialization, especially early in the plan.
            var specialization = allowedSpecializations[specializationScores.indexOf(Math.max.apply(Math, specializationScores))];
            var coursesIncluded = fixedCourses.slice();
            var termsIncluded = upcomingTerms.slice(0, upcomingTerms.indexOf(graduationTarget) + 1);
            var byTerm = {};
            for (key in termsIncluded) {
                var term = termsIncluded[key];
                var hoursAvailable = maxHours[term];
                // Note: it should never be *necessary* to filter these courses out, since it will
                // never enhance the plan to include a duplicate course.
                var coursesEligible = termCoursesAvailable(term).filter(function (course) {
                    return !(coursesIncluded.indexOf(course) > -1);
                });
                if (!evalFoundational(coursesIncluded)) coursesEligible = coursesEligible.filter(function (course) {
                    return courseIsFoundational(course);
                });

                var termCourses = [];
                var courseToAdd = null;
                // while there's still a course that will fit into the current term...
                do {
                    var bestPlan = coursesIncluded.slice();
                    var planScore = evalSpecialization(specialization, bestPlan);
                    for (var i = 0; i < coursesEligible.length; i++) {
                        // Evaluate the plan score for each available course.
                        var coursesEvaluating = coursesIncluded.slice();
                        coursesEvaluating.push(coursesEligible[i]);
                        var scoreEvaluating = evalSpecialization(specialization, coursesEvaluating);
                        if (coursesHoursUsed(coursesEvaluating) > hoursAvailable) continue;

                        if (scoreEvaluating > planScore) {
                            // Pick the one that yields the highest plan score.
                            bestPlan = coursesEvaluating;
                            courseToAdd = coursesEligible[i];
                            planScore = scoreEvaluating;
                        } else if (scoreEvaluating == planScore && courseHours(coursesEvaluating) < courseHours(bestPlan)) {
                            // Or if there's a tie, pick the one with the lowest number of hours.
                            bestPlan = coursesEvaluating;
                            courseToAdd = coursesEligible[i];
                            planScore = scoreEvaluating;
                        }

                    }
                    if (courseToAdd == null) break;
                    termCourses.push(courseToAdd);
                    coursesIncluded.push(courseToAdd);
                    if (termCourses.length >= termCourseCap(term)) break;

                    coursesEligible = termCoursesAvailable(term).filter(function (course) {
                        return !(coursesIncluded.indexOf(course) > -1);
                    });
                    if (!evalFoundational(coursesIncluded)) coursesEligible = coursesEligible.filter(function (course) {
                        return courseIsFoundational(course);
                    });
                    courseToAdd = null;
                } while (coursesEligible.length > 0 && evalSpecialization(specialization, coursesIncluded) < 0);
                byTerm[term] = termCourses;
            }

            if (evalSpecialization(specialization, coursesIncluded) < 0) {
                // We're out of terms, but still need more courses...

                var termsEligible = termsIncluded.slice().filter(function (term) {
                    return byTerm[term].length < termCourseCap(term);
                });
                while (termsEligible.length > 0 && evalSpecialization(specialization, coursesIncluded) < 0) {
                    // Find the term with the lowest number of hours currently
                    var termHours = termsEligible
                            .map(function (term) { return coursesHoursUsed(byTerm[term]); });
                    var minTermIndex = termHours.indexOf(Math.min.apply(Math, termHours));
                    var term = termsEligible[minTermIndex];
                    var coursesEligible = termCoursesAvailable(term).filter(function (course) {
                        return !(coursesIncluded.indexOf(course) > -1);
                    });
                    if (!evalFoundational(coursesIncluded)) coursesEligible = coursesEligible.filter(function (course) {
                        return courseIsFoundational(course);
                    });

                    var courseToAdd = null;
                    // TODO: refactor & consolidate this with the initial setup code
                    var bestPlan = coursesIncluded.slice();
                    var planScore = evalSpecialization(specialization, bestPlan);
                    for (var i = 0; i < coursesEligible.length; i++) {
                        // Evaluate the plan score for each available course.
                        var coursesEvaluating = coursesIncluded.slice();
                        coursesEvaluating.push(coursesEligible[i]);
                        var scoreEvaluating = evalSpecialization(specialization, coursesEvaluating);

                        if (scoreEvaluating > planScore) {
                            // Pick the one that yields the highest plan score.
                            bestPlan = coursesEvaluating;
                            courseToAdd = coursesEligible[i];
                            planScore = scoreEvaluating;
                        } else if (scoreEvaluating == planScore && courseHours(coursesEvaluating) < courseHours(bestPlan)) {
                            // Or if there's a tie, pick the one with the lowest number of hours.
                            bestPlan = coursesEvaluating;
                            courseToAdd = coursesEligible[i];
                            planScore = scoreEvaluating;
                        }
                    }
                    if (courseToAdd == null) {
                        termsEligible.splice(termsEligible.indexOf(term), 1);
                        continue;
                    }
                    coursesIncluded.push(courseToAdd);
                    byTerm[term].push(courseToAdd);
                    if (termCourses.length >= termCourseCap(term)) continue;

                    termsEligible = termsIncluded.slice().filter(function (term) {
                        return byTerm[term].length < termCourseCap(term);
                    });
                }
            }

            if (evalSpecialization(specialization, coursesIncluded) < 0) {
                // No courses will bring us closer to our goal, but we're still not at our goal...
                // Provide the generated plan, but also provide a warning (the specialization cannot be reached)
                alert("The specialization you have selected (" + specialization + ") cannot be fulfilled in this timeframe with the available courses.");
            }
            return byTerm;
        }

        function displayTermName(termName) {
            return termName.slice(0, -4) + " Term " + termName.slice(-4)
        }

        function displayPlan(plan, specialization) {
            $("#plan").html("");
            for (termName in plan) {
                if (plan.hasOwnProperty(termName)) {
                    var term = plan[termName];
                    var termBucket = $.parseHTML('<div class="term-wrapper"><div class="term-name">'+displayTermName(termName)+'</div></div>');
                    var display = false;
                    for (i in term) {
                        if (term.hasOwnProperty(i)) {
                            display = true;
                            var course = courseInfo(plan[termName][i], termName);
                            var el = $.parseHTML('<div class="course-thumbnail"></div>');

                            var deleteOption = $.parseHTML('<span class="delete-option fa fa-times-circle" style="position:relative;top:20pt;left:12pt;font-size:32pt"'
                                    +'onclick="javascript:deleteCourse(\''+plan[termName][i]+'\');">'
                                    +'</span>');
                            termBucket[0].appendChild(deleteOption[0]);

                            var logo = $.parseHTML('<div class="course-logo">'
                                    +'<span class="number">'+course["Number"]+'</span><br/><span class="id">("'+course["Id"]+'")</span></div>');
                            el[0].appendChild(logo[0]);

                            var title = (typeof course["Title"] == "string") ? course["Title"] : course["Number"];
                            var instructors = (typeof course["Instructors"] != "undefined") ? course["Instructors"] : "";
                            var vitals = $.parseHTML('<div class="course-info">'
                                    +'<div class="title">'+title+'</div>'
                                    +'<div class="presenter">'+instructors+'</div>'
                                    +'</div>');
                            el[0].appendChild(vitals[0]);

                            var link = $.parseHTML('<a href="/course/'+course["Ref"]+'/view" target="_blank"></a>');
                            link[0].appendChild(el[0]);
                            termBucket[0].appendChild(link[0]);
                            /*
                            if (typeof course["Readiness"] == "string") {
                                var link = $.parseHTML('<a href="'+course["Readiness"]+'" target="_blank"></a>');
                                link[0].appendChild(el[0]);
                                termBucket[0].appendChild(link[0]);
                            } else {
                                termBucket[0].appendChild(el[0]);
                            }
                            */
                        }
                    }
                    if (display) {
                        $("#plan").append(termBucket[0]);
                    }
                }
            }
        }

        function displayGraduation(plan, specialization, completed) {
            if (!($("#graduationBanner").length)) {
                var el = $.parseHTML('<h3 id="graduationBanner" style="padding:20pt"></h3>');
                $("#plan").append(el[0]);
            }

            var courses = coursesInPlan(plan).concat(completed);
            if (evalSpecialization(specialization, courses) < 0) {
                // Not graduating!
                $("#graduationBanner").html('This set of courses will not allow you to graduate.');
                $("#graduationBanner").css('color', '#DD4444');
            } else {
                var gradDate = null;
                for (termName in plan) {
                    if (plan.hasOwnProperty(termName) && plan[termName].length > 0) {
                        gradDate = displayTermName(termName);
                    }
                }
                $("#graduationBanner").html('Graduation!  Expected completion in '+gradDate+' with a specialization of '+specialization+'.');
                $("#graduationBanner").css('color', 'inherit');
            }
        }

        function recommendSpecialization(allowedSpecializations, fixedCourses) {
            var specializationScores = allowedSpecializations.map(function (s) { return evalSpecialization(s, fixedCourses); });
            // For now, we're picking the specialization they're closest to; later we'll give higher weights to scores
            // that satisfy more than one specialization, especially early in the plan.
            return allowedSpecializations[specializationScores.indexOf(Math.max.apply(Math, specializationScores))];
        }

        function refreshPlan() {
            var allowedSpecializations = [];
            $('#specializations input:checked').each(function(index) { allowedSpecializations.push($(this).val()); });
            /*
            specializationMetadata.forEach(function(specialization) {
                allowedSpecializations.push(specialization["specializationId"]);
            });
            //var plan = updatePlan(allowedSpecializations, "2018-Fall", maxHours, []);
            //var plan = updatePlan(["II"], "2017-Fall", maxHours, []);
            */
            var defaultCap = $('#hours').val();
            var maxHours = [];
            upcomingTerms.forEach(function(term) {
                maxHours[term] = defaultCap;
            });
            var gradDate = $('#graduation').val();

            var plan = updatePlan(allowedSpecializations, gradDate, maxHours, completed);
            var specialization = recommendSpecialization(allowedSpecializations, completed);
            displayPlan(plan, specialization);
            displayGraduation(plan, specialization, completed);
            return plan;
        }

        function savePlan() {
            plan['csrfmiddlewaretoken'] = '{{csrf_token}}';
            var url = '/profile/plan/';
            $.ajax({
                type: "POST",
                url: url,
                data: plan,
                success: function(data) { alert("Saved!"); },
                error: function(data) {  }
            });
        }

        function toggleAddCourseOptions() {
            $('#addCourseTerm, #addCourseId, #addCourseConfirm').toggle("fast", function () {} );
            updateAddCourseOptions();
        }

        function updateAddCourseOptions() {
            var options = "";
            var term = $('#addCourseTerm').val();
            var courses = termCoursesAvailable(term);
            for (i in courses) {
                if (courses.hasOwnProperty(i)) {
                    var courseId = courses[i];
                    var course = courseInfo(courseId, term);
                    if (course["Number"] && !(coursesInPlan(plan).concat(completed).indexOf(courseId) > -1))
                        options = options+"<option value='"+courseId+"'>"+course["Number"]+"</option>";
                }
            }
            $('#addCourseId').html(options);
        }

        function addCourse() {
            var term = $('#addCourseTerm').val();
            var course = $('#addCourseId').val();
            plan[term].push(course);
            $('#addCourseTerm, #addCourseId, #addCourseConfirm').toggle();
            renderPlan();
        }

        function deleteCourse(courseId) {
            for (termName in plan) {
                if (plan.hasOwnProperty(termName)) {
                    term = plan[termName];
                    for (i in term) {
                        if (term[i] == courseId) {
                            term.splice(i, 1);
                        }
                    }
                }
            }
            renderPlan();
        }

        function renderPlan() {
            var allowedSpecializations = [];
            $('#specializations input:checked').each(function(index) { allowedSpecializations.push($(this).val()); });
            var specialization = recommendSpecialization(allowedSpecializations, completed);
            displayPlan(plan, specialization);
            displayGraduation(plan, specialization, completed);
            return false;
        }

        var completed = [
            {% for review in completed_courses %}
                "{{ review.offering.course.key }}"{% if forloop.last %}{% else %},{% endif %}
            {% endfor %}
        ];
        plan = refreshPlan();
    </script>
{% endblock %}