{% extends "base.html" %}

{% block content %}
    <h1>CONGRATULATIONS!</h1>

    <h2>Welcome to the OMSCS.</h2>

    <p>OMSCS is a very unusual (<i>very unusual</i>) Master's program.  This is an unofficial
    <strike>collection of clutter</strike> site aimed at helping you learn your way around.</p>

    <p>One of the first things you'll notice about OMSCS is that it's <i>big</i>.  (Within a few short years we are
        expected to account for 8% of all CS MS graduates in the US.)</p>

    <p>Another thing you'll quickly pick up is that there's a huge range of student professions and domains.  There are
        countless web devs, countless mobile devs, countless professional educators, countless musicians, countless
        <i>anything</i>, really.</p>

    <p>These two points together combine to yield an interesting phenomenon: OMSCS is very student-driven.  Outside of
        the classes themselves, most of the really useful tools in the program are thrown together by some student who
        went, "Man, why don't we even have a simple X for Y yet?"</p>

    <p>This page doesn't quite rise to that level.  However, it hopes to introduce you to many of those tools as you
        go into your first semester.  If you find it useful, bookmark it and come back to it now and again, as
        I'll try to keep it up to date; if you think it could be better, please (please!) suggest improvements and/or
        open a pull request on Github.</p>

    <h2>FAQ</h2>

    <div>
        <h4>When will I get my Georgia Tech e-mail address?</h4>
        <p>When it's ready.</p>
    </div>

    <div>
        <h4>But wait, all the OMSCS student tools require a GATech e-mail!  So what do I do until then?</h4>
        <p>
        Well, the good news is, obscure workarounds will allow you to sidestep this requirement in most instances if you
            really want to begin preparing for your classes early.  Here are some ideas:
        </p>
        <ul>
            <li>Decide what class you'll be taking first by browsing
                <a href="http://www.omscs.gatech.edu/current-courses">course info on OMSCS Official</a>
                and <a href="https://omscentral.com/">course reviews on OMS Central</a>.</li>
            <li>Ask to be added to <a href="http://omscs-study.slack.com/">the Slack group</a> if you're into that sort
                of thing.  If you enjoy the combination of mildly helpful information and snark found on this site
                you'll probably like the Slack group, too.  Self-signup for Slack requires a GATech e-mail address, but
                you can e-mail me (my GATech e-mail alias is "smiley") to be added manually.</li>
            <li>Ask to be added to
                <a href="https://plus.google.com/communities/108902554607547634726">the Google+ community</a>.
                Just don't follow up by posting a bunch of questions about things that are
                <a href="https://docs.google.com/document/d/1ZtWIxQht7OSfB0ey--U3pvI4pisfZsKo_usvLzlXBQo/edit#heading=h.s78ax2egnbto">already in the FAQ</a>,
                or much kvetching will ensure.  Speaking of which...</li>
            <li><a href="https://docs.google.com/document/d/1ZtWIxQht7OSfB0ey--U3pvI4pisfZsKo_usvLzlXBQo/edit#heading=h.s78ax2egnbto">Read the FAQ.</a>
                Smarter people than me have spent more time than I have putting together a comprehensive list of answers to
                general questions about the program and its logistics.</li>
            <li>While you're reading things,
                <a href="https://www.reddit.com/r/OMSCS/comments/3rghng/preparing_for_spring_2016/cwo0wqu/">consider reading this Reddit post</a>
                with suggestions about preparation.  It has suggestions for specific courses but also more general ideas
                for how to make up background you may be lacking.  Particularly valuable if your undergraduate degree
                wasn't in CS and/or you don't work in software development now.</li>
            <li>Watch the OMSCS orientation.  You can't access the course on Udacity until you get your GATech account
                but the videos are posted publicly on YouTube and indexed <a href="/lectures/orientation">here</a> for
                your convenience (given a loose definition of "convenience").</li>
            <li>Depending on what your first course is, the lectures are likely accessible through the public-facing
                Udacity site. All publicly-available GATech courses are listed
                <a href="https://www.udacity.com/courses/georgia-tech-masters-in-cs">here</a>.</li>
            <li>If the videos <i>aren't</i> yet available publicly, you can still get the video materials (not the
                quizzes, though) from YouTube directly.  Some links are indexed on this site (check out the sidebar
                <a href="/lectures/orientation">here</a>).</li>
            <!--<li>If you've done all that and you're still bored, you can play around with
                <a href="http://advisor.omscs.net">omscs-advisor</a>, the companion site to this one.  The advisor lets
                you explore combinations of courses that you could use to complete the degree given your desired
                specialization and various other criteria, most of which are rather boring.  I have high hopes for this
                site to make it easier for OMSCSers to find out which classes their friends are taking and form study
                groups or prep groups in advance.  You can be the judge of whether I'm likely to actually complete it
                this century.</li>
            -->
        </ul>
    </div>

    <div>
        <h4>Any other "common knowledge" not covered in the FAQ or the orientation?</h4>
        <p>Hmm.  A few things come to mind:</p>
        <ul>
            <li>In this program, you'll have classmates who are famous and at the top of their fields.  You'll also
                have classmates who have no idea what they're doing and no ability or willingness to learn.  However,
                most of us will fall into the vast middle: we may have no idea what we're doing <i>yet</i> but we're
                likely to get there eventually.</li>
            <li>In the good/bad old days, new courses were highly unpredictable.  (Look at the oldest reviews for
                Computer Networks [CS6250] and CCA [CS6505], if you want to get a feel for this.)  The program is
                maturing now so there's a bit more consistency, but it's still safest to treat courses as "beta"
                for their first couple of terms.  The professor is usually inexperienced with the OMSCS format so
                responses to questions may be extremely delayed and Piazza may spontaneously combust; difficulty may be
                wildly high or low; grades may take weeks to come back because they realize they forgot to write any
                grading code before the assignment deadline; etc., etc., etc.
                The corollary to this is that you <b>probably</b> don't want to take
                a totally new course your first term, or even one that's new enough to not have its videos posted
                on the public Udacity site yet.  It's easier (and less stressful!) to weather these vagaries once you
                have a few terms under your belt.
            </li>
            <li>Taking CCA your first term is a YOLO move.  'Nuff said.</li>
        </ul>
    </div>
{% endblock %}