<span class="rating">
{% if rating > 0.75 %}
    <span class="fa fa-star"></span>
{% elif rating > 0.25 %}
    <span class="fa fa-star-half-o"></span>
{% else %}
    <span class="fa fa-star-o"></span>
{% endif %}
{% if rating > 1.75 %}
    <span class="fa fa-star"></span>
{% elif rating > 1.25 %}
    <span class="fa fa-star-half-o"></span>
{% else %}
    <span class="fa fa-star-o"></span>
{% endif %}
{% if rating > 2.75 %}
    <span class="fa fa-star"></span>
{% elif rating > 2.25 %}
    <span class="fa fa-star-half-o"></span>
{% else %}
    <span class="fa fa-star-o"></span>
{% endif %}
{% if rating > 3.75 %}
    <span class="fa fa-star"></span>
{% elif rating > 3.25 %}
    <span class="fa fa-star-half-o"></span>
{% else %}
    <span class="fa fa-star-o"></span>
{% endif %}
{% if rating > 4.75 %}
    <span class="fa fa-star"></span>
{% elif rating > 4.25 %}
    <span class="fa fa-star-half-o"></span>
{% else %}
    <span class="fa fa-star-o"></span>
{% endif %}
</span>