<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Random Course Stats</title>
</head>
<body>
{% for stats in stats_by_term %}
<h2>{{ stats.semester_name }}</h2>
<table>
    <tr>
        <th>Course number</th>
        <th>Course name</th>
        <th>Current open seats</th>
        <th>Open last year (end of drop/add week)</th>
        <th>Current open waitlist seats</th>
        <th>Drop/add CRN</th>
        <th>Last updated</th>
    </tr>
    {% for course in stats.courses %}
        <tr>
            <th>{{ course.number }}</th>
            <th>{{ course.name }}</th>
            <th>{{ course.latest.real_open }}/{{ course.latest.real_cap }}</th>
            <th>{{ course.prev.real_open }}/{{ course.prev.real_cap }}</th>
            <th>{{ course.latest.waitlist_open }}/{{ course.latest.waitlist_cap }}</th>
            <th>{{ course.crn }}</th>
            <th><a href="https://oscar.gatech.edu/pls/bprod/bwckschd.p_disp_detail_sched?term_in={{ stats.semester_code }}&crn_in={{ course.crn }}">{{ course.latest.recorded }}</a></th>
        </tr>
    {% endfor %}
</table>
{% endfor %}
<h2>Real-Time Data</h2>
<a onclick="loadOscar('201605')">Summer 2016</a> or <a onclick="loadOscar('201608')">Fall 2016</a>
<form id="oscarParams" style="display:none;" method="post" action="https://oscar.gatech.edu/pls/bprod/bwckschd.p_get_crse_unsec">
    <input type="hidden" id="oscarTerm" name="term_in" />
    <input type="hidden" name="sel_subj" value="dummy" />
    <input type="hidden" name="sel_day" value="dummy" />
    <input type="hidden" name="sel_schd" value="dummy" />
    <input type="hidden" name="sel_insm" value="dummy" />
    <input type="hidden" name="sel_camp" value="dummy" />
    <input type="hidden" name="sel_levl" value="dummy" />
    <input type="hidden" name="sel_sess" value="dummy" />
    <input type="hidden" name="sel_instr" value="dummy" />
    <input type="hidden" name="sel_ptrm" value="dummy" />
    <input type="hidden" name="sel_attr" value="dummy" />
    <input type="hidden" name="sel_subj" value="CSE" />
    <input type="hidden" name="sel_subj" value="CS" />
    <input type="hidden" name="sel_crse" value="" />
    <input type="hidden" name="sel_title" value="" />
    <input type="hidden" name="sel_cchd" value="%" />
    <input type="hidden" name="sel_from_cred" value="" />
    <input type="hidden" name="sel_to_cred" value="" />
    <input type="hidden" name="sel_camp" value="0" />
    <input type="hidden" name="sel_ptrm" value="%" />
    <input type="hidden" name="sel_instr" value="%" />
    <input type="hidden" name="sel_attr" value="%" />
    <input type="hidden" name="begin_hh" value="0" />
    <input type="hidden" name="begin_mi" value="0" />
    <input type="hidden" name="begin_ap" value="a" />
    <input type="hidden" name="end_hh" value="0" />
    <input type="hidden" name="end_mi" value="0" />
    <input type="hidden" name="end_ap" value="a" />
</form>
<script type="application/javascript">
    function loadOscar(termIn) {
        $('#oscarTerm').val(termIn);
        $('#oscarParams').submit();
    }
</script>
</body>
</html>