<h2>Terms</h2>
<div>
    <p>
        All information provided by omscs-advisor is subject to change and even error.
        The omscs-advisor project and its contributors make <strong>no guarantees</strong> about
        the accuracy of the information provided, and the responsibility for verifying pertinent
        data (for example, the availability of course offerings in certain terms and the presence
        or absence of certain course features) rests with the user.
    </p>
    <p>
        omscs-advisor is an unofficial student project.
        It is not affiliated with the OMSCS program or Georgia Institute of Technology in any way.
        References to OMSCS and Georgia Tech on this site should not be construed to suggest any
        such affiliation.
    </p>
    <p>
        As omscs-advisor is currently in alpha, it may be buggy and prone to rapid changes, including
        the addition of features you do not like and the removal of features you know and love.
        <strong>By using an account during this alpha period, you acknowledge that available
        features, including social and privacy features, may change at any time.</strong>
        This page will be revised when omscs-advisor advances from alpha to beta, at which time this
        clause will be weakened but will not go away.
    </p>
</div>
<h2>Privacy Policy</h2>
<div>
    <p>
        The goal of omscs-advisor is to harness the experiences of current OMSCS students to make
        the OMSCS program even better.  To that end, omscs-advisor will solicit certain data about
        the courses you have taken, what you thought of them, how you did in them, and so on.
        Providing this information is optional.  If you choose to provide this information,
        you have the option of supplying it for public (i.e., published under your username) or
        anonymous (i.e., published once stripped of identifying information) use.
    </p>
    <p>
        Notwithstanding the above, individual grade data will <strong>never</strong> be published
        on the omscs-advisor website.  Never, ever.
    </p>
    <p>
        By submitting a course review, you grant omscs-advisor a worldwide, royalty-free,
        non-exclusive, perpetual license to store and reproduce portions of said review or the review
        in its entirety, with the attribution you elect (i.e., to your username and public profile,
        if you have one, or to an anonymous omscs-advisor user).
    </p>
    <p>
        A secondary goal of omscs-advisor is to connect students with other similar students to
        facilitate the formation of study groups.  Every omscs-advisor user has a profile, the
        details of which are private by default.  If you wish to connect with other students you
        may elect to share some or all of your profile details, including but not limited to which
        courses you are taking and which time zone you are in.  If you choose to share these details,
        they may appear to qualified users in any area of the site, including but not limited to
        the home feed and the course pages for relevant courses as well as your profile page itself.
    </p>
    <p>
        A tertiary, future goal of omscs-advisor is to facilitate research on student success.  To
        this end, <strong>data collected by omscs-advisor may be shared <i>in aggregate form only</i>
        with researchers in the field of Educational Technology and with personnel affiliated with
        the Georgia Institute of Technology or Udacity and charged with improving the OMSCS program.
        </strong>  This sharing will occur at the discretion of the omscs-advisor project manager.
        The omscs-advisor project will make reasonable efforts to refuse requests that have no obvious
        research purpose or could be combined with outside data to identify particular users (for
        instance, a request for the grades of all female students who started in Spring 2015 and took
        both CS7637 and CS7641 in that term).  However, the omscs-advisor project only guarantees that
        the data it provides will be anonymized; <strong>we cannot guarantee that this data cannot be
        reconstructed when combined with other sources</strong>.
    </p>
</div>